<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>
    <main>
        {{ block "main" . }}{{ end }}
    </main>
    <script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", function (user) {
            if (!user) {
              window.netlifyIdentity.on("login", function () {
                document.location.href = "/admin/";
              });
            }
          });
        }
      </script>
</body>
</html>