<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ if .Title }}
      <title>{{ .Title }} | {{ .Site.Title }}</title>
    {{ else }}
      <title>{{ .Site.Title }}</title>
    {{ end }}
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/modern-normalize@1.1.0/modern-normalize.css">
    {{ $styles := resources.Get "css/styles.css" | postCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}">
</head>
<body class="bg-scale-dark-blue text-white font-source-sans-pro">
    <div class="max-w-screen-2xl mx-auto">
      <nav class="px-6 py-4">
        <img class="h-16 w-auto" src='{{ "images/scale-logo.jpeg" | absURL }}' alt="">
      </nav>
      <main>
          {{ block "main" . }}{{ end }}
      </main>
    </div>
    <script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", function (user) {
            if (!user) {
              window.netlifyIdentity.on("login", function () {
                document.location.href = "/admin/";
              });
            }
          });
        }
      </script>
</body>
</html>