<footer class="px-6 py-12 bg-bottom bg-no-repeat bg-cover" style="background-image: url(/images/banner-footer.png);">
  <div class="max-w-6xl mx-auto">
    <div class="max-w-md">
      <img class="w-56" src='{{ "images/scale-premium-fill.png" | absURL }}' alt="">
      <div class="text-xl mt-8">
        <p>Desde el carbono hasta Marte, la vida siempre ha buscado conquistar nuevas escalas. Los seres humanos no somos ajenos a esa fuerza que nos empuja a ser cinco veces mejor.</p>
      </div>
    </div>
    <div class="flex flex-col mt-8 gap-12 lg:flex-row">
      <div class="w-full space-y-4 lg:w-1/2">
        <div class="flex item-start space-x-4 sm:text-xl">
          <img class="w-16" src='{{ "images/icon-instagram.png" | absURL }}' alt="">
          <p class="mt-4">
            <a href="https://www.instagram.com/scale_latam/" target="_blank" rel="noopener">scale_latam</a>
          </p>
        </div>
        <div class="flex item-start space-x-4 sm:text-xl">
          <img class="w-16" src='{{ "images/icon-envelope.png" | absURL }}' alt="">
          <p class="mt-4 truncate">
            <a href="mailto:guillermo@macrowise.co">guillermo@macrowise.co</a><br/>
            <a href="mailto:julian.cardona@macrowise.co">julian.cardona@macrowise.co</a>
          </p>
        </div>
      </div>
      <div class="w-full flex-grow text-xs lg:w-1/2 lg:self-end">
        <p>DATA PRIVACY POLICY TERMS OF USE COOKIE SETTINGS NEWS ALERT &copy; 2022 SCALE</p>
        <p>Certain products and services of the SCALE are not accessible to residents and/or nationals of certain countries. Website users are therefore asked to consult the Terms of use applicable to this website and to contact their nearest Julius Baer entiry ("Locations") for information on products and services available in their country. Furthermore, users may consult their legal/tax advisors should they require any clarifications on the interpretation of the Terms of use.</p>
      </div>
    </div>
  </div>
</footer>